.body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: rgb(8, 65, 100);
  font-family: "Chakra Petch", sans-serif;
}
.header {
  display: flex;
  flex-direction: row;
}
.signup-signin {
  position: fixed;
  right: 0;
}
.header-section {
  padding: 20px;
  margin: 0 auto;
  width: 33vw;
}
.logo {
  font-weight: 900;
  font-style: normal;
  color: white;
}
.nav {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}
.nav-box {
  margin: 20px 15px;
  background-color: rgba(0, 0, 0, 0.514);
  width: 80px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: medium;
  font-weight: 400;
}
.nav-box:hover {
  background-color: rgba(44, 88, 116, 0.548);
}
.nav-link {
  text-decoration: none;
}
.latest-nav-box {
  color: rgb(184, 235, 134);
}
.toplist-nav-box {
  color: blueviolet;
}
.random-nav-box {
  color: orange;
}
.upload-nav-box {
  color: red;
}
.forums-nav-box {
  color: yellow;
}
.nav-text {
  padding: 10px;
  font-size: large;
}
.moto {
  font-size: medium;
  color: white;
}
.title {
  text-align: center;
  margin: 20px;
}
.signup-signin {
  color: white;
  margin: 20px;
}
.nav-part {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.search {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.548);
  border: 0;
  border-radius: 10px;
  padding: 10px;
  color: white;
}
.search:focus {
  border: 0;
}
.tagcloud {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
}
.tagcloud {
  font-size: 25px;
}

.tagcloud--item {
  padding: 2px 4px;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.tagcloud--item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #333;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  opacity: 1 !important;
  z-index: 100 !important;
}

.light .tagcloud--item {
  color: #fff;
}

.light .tagcloud--item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #fff;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: 30px;
}
@media screen and (max-width: 1500px) {
  .header {
    flex-direction: column;
  }
}
@media screen and (max-width: 820px) {
  .nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-section {
    width: auto;
  }
  .nav-box {
    margin-bottom: 0;
  }
  .search {
    width: 300px;
  }
}
