.body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}
.header {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.signup-signin {
  position: fixed;
  right: 0;
}
.header-section {
  width: 33vw;
  padding: 20px;
}
.logo {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 900;
  font-style: normal;
  margin: 0;
}
.nav {
  display: flex;
  flex-direction: row;
}
.nav-box {
  margin: 0 20px;
  background-color: rgba(109, 99, 99, 0.274);
  width: 50px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.nav-box:hover {
  background-color: rgba(109, 99, 99, 0.185);
}
